.profile_container{
    border: 1px solid aquamarine;
    width: 600px;
    margin: 3px auto;
    height: 500px;
    text-align: center;
}

h4{
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}